/** button reset */
.el-button {
  height: $button-height;
  padding: 0 16px;
  font-size: $font-size-regular;
  background-color: $theme-color;
  border: none;
  border-radius: $base-border-radius;

  &:hover,
  &:focus,
  &.active {
    background: linear-gradient(0deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),
      $theme-color;
    border: none;
  }

  &.is-disabled,
  &.is-disabled:hover {
    color: rgb(255 255 255 / 12%);
    background: rgb(255 255 255 / 12%);
  }

  &.is-plain {
    background: rgb(255 255 255 / 12%);

    &:hover {
      background: rgb(255 255 255 / 10%);
    }
  }
}
