@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.el-loading-spinner {
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: url("@/packages/assets/icons/loading.png") no-repeat center;
  background-size: contain;
  animation: loading-rotate 1s linear infinite;

  .circular {
    display: none;
  }
}

.el-loading-mask {
  background-color: transparent;
}
