/** menu reset */
.el-menu {
  border-right: 0;

  .el-menu-item {
    height: 40px;
    font-size: $font-size-regular;
    line-height: 40px;
    color: $font-highlight-color;
    background-color: $table-header-bg-color;

    &:hover {
      background-color: $table-row-highlight-color;
    }

    &.is-active {
      color: $font-highlight-color;
      background-color: $table-row-highlight-color;
    }
  }
}
