.el-message-box {
  padding: 16px;
  background-color: #3e3e3f;
  border: none;

  .el-message-box__content {
    padding: 10px 20px 30px;
  }

  .el-message-box__message {
    font-size: 16px;
    color: #e2e2e2;
  }

  .el-message-box__btns {
    .el-button--primary {
      width: 120px;
      height: 32px;
    }
  }
}

.custom-icon-message-box {
  .el-message-box__header {
    padding: 0 0 16px;
  }

  .el-message-box__status {
    display: none;
  }

  .message-content {
    display: flex;
    align-items: center;

    .text {
      margin-left: 16px;
    }
  }

  .el-message-box__message {
    padding: 0;
  }
}
