.el-switch {
  .el-switch__core {
    min-width: 32px;
    background: rgba($color: #fff, $alpha: 20%);
    border: none;

    .el-switch__action {
      width: 14px;
      height: 14px;
    }
  }

  &.is-checked .el-switch__core {
    background-color: #679eff;
  }
}
