/** tabs reset */
.el-tabs--border-card {
  background-color: $table-header-bg-color;
  border-color: $table-header-bg-color;

  .el-tabs__header {
    background-color: $page-bg-color;
    border-bottom: 0;

    .el-tabs__item {
      font-size: $font-size-regular;

      &:not(.is-disabled):hover {
        color: $font-highlight-color;
      }

      &.is-active {
        color: $font-highlight-color;
        background-color: $table-header-bg-color;
        border-right-color: transparent;
        border-left-color: transparent;
      }
    }
  }

  .el-tabs__content {
    padding: 15px 0;
  }
}
