@import url("./global-reset.scss");

/* 自定义全局 CssVar */
:root {
  /* 左侧菜单展开、收起动画时长 */
  --pure-transition-duration: 0.3s;
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}

.full-screen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 888 !important;
  width: 100vw !important;
  height: 100vh !important;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

.dragging {
  cursor: grabbing;
}

.measure-cursor {
  cursor: url("../icons/measure-draw.svg") 9 5, auto;
}

.measure-cursor-text {
  cursor: url("../icons/measure-draw-text.svg") 15 16, auto;
}

.bc-cursor {
  cursor: url("../icons/bc-cursor.svg") 16 16, auto;
}

.custom-notification-center {
  position: fixed !important;
  top: 8px !important;
  left: 50% !important;
  margin: 0 !important;
  transform: translateX(-50%) !important;
}
