/** base */
$min-page-width: 1280px;
$min-page-height: 668px;
$page-bg-color: #2e2e2f;
$theme-color: #276cd3;
$highlight-color: #31528c;
$active-color: #7498f3;
$alert-color: #d64646;
$warning-color: #ffc800;
$info-color: #0092bb;
$success-color: #2ab020;
$divide-dark-color: #19191a;
$divide-light-color: #505050;
$font-highlight-color: #fff;
$font-main-color: #e2e2e2;
$font-sec-color: rgb(226 226 226 / 80%);
$font-tip-color: rgb(226 226 226 / 40%);
$font-inactive-color: rgb(226 226 226 / 60%);
$font-size-regular: 16px;
$font-size-middle: 14px;
$font-size-small: 12px;
$font-family-regular: "HarmonyOS Sans SC Regular"; /** 正常字体 */
$font-family-bold: "HarmonyOS Sans SC Bold"; /** 加粗字体 */

$base-border-radius: 2px;
$border-color: #434343;
$border-color-dark: #000;

/** image area 影像区域 */
$image-bg-color: #000;
$image-blue: #0ff;
$image-yellow: #ff0;
$image-green: #0f0;
$image-pink: #f0f;
$image-red: #f00;
$oculus-od-color: #77d0a3;
$oculus-os-color: #cba280;
$thumbnail-image-bg-color: #252525;

/** button */
$button-height: 36px;

/** input */
$input-bg-color: rgb(0 0 0 / 40%);

/** dialog */
$dialog-bg-color: #3e3e3f;
$dialog-sec-bg-color: rgb(0 0 0 / 12%);
$dialog-border-radius: 4px;

/** table */
$table-header-bg-color: #2e2e2f;
$table-header-font-color: #a7a7a7;
$table-row-light-color: #252525;
$table-row-dark-color: #1c1c1c;
$table-row-highlight-color: #31528c;
$table-row-hover-color: #313f58;
$table-row-height: 40px;

/** dropdown select */
$select-item-hover-color: #31528c;

/** radio */
$radio-active-color: #679eff;

/** checkbox */
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-default-bg-color: rgb(0 0 0 / 40%);

/** form */
$form-item-error-color: #ff5151;

/** datepicker */
$selected-item-bg-color: #31528c;
$hover-item-bg-color: rgb(49 82 140 / 40%);

/** slider */
$slider-bg-color: #1e1e1e;
$slider-bar-color: #007bff;
